<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试模板数据</title>
    <style></style>
</head>
<body>
    <h1>根路径下的数据</h1>
    <div style="background: red; font-size: 30px">{{ title }}</div>
</body>
</html>