<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <a href="#">{{ message }}</a>
        <hr>
        <a v-bind:href="url">戳我有惊喜</a>
        <hr>
        <span v-bind:title='showmessage'>鼠标放在这里显示当前时间</span>
        <hr>
        <!-- 简写 -->
        <span :title='showmessage'>鼠标放在这里显示当前时间</span>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: '百度一下，你就知道',
                url: 'https://jd.com/',
                showmessage: '当前时间是' + new Date().toLocaleString(),
            }
        })
    </script>
</body>
</html>