<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    {{ items }}
    <hr>
    <ul>
        <li v-for="(item, index) in items">{{ index + 1 }} - {{ item }}</li>
    </ul>
    <hr>
    <!-- 遍历对象 -->
    <ul>
        <!-- <li v-for="value in object">{{ value }}</li>-->
        <li v-for="(value,key) in object">{{ key }} : {{ value }}</li>
    </ul>
    <hr>
    <!-- 遍历列表对象 -->
    <ul>
        <li v-for="todo in todos">
            {{ todo.title }} - {{ todo.author }} - {{ todo,oublishedAt }}
        </li>
    </ul>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            items: ['吃饭', '睡觉', '打豆豆', '淘宝', '知乎', '微博', '抖音'],
            object: {
                title: 'How to do list in vue?',
                author: 'StaryJie',
                publishedAt: '2020-09-22',
            },
            todos: [
                {
                    title: 'Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                },
                {
                    title: 'python',
                    author: 'Ricky',
                    publishedAt: '2019-04-10'
                },
                {
                    title: 'itcast',
                    author: 'itcast',
                    publishedAt: '2006-05-08'
                }
            ]
        }
    })
</script>
</body>
</html>