<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span>{{ message }}</span>
        <hr>
        <a href="#" v-if="isLogin">欢迎您，</a>
        <a href="#" v-if="level === 1">倔强青铜</a>
        <a href="#" v-else-if="level === 2">秩序白银</a>
        <a href="#" v-else-if="level === 3">荣耀黄金</a>
        <a href="#" v-else-if="level === 4">尊贵铂金</a>
        <a href="#" v-else-if="level === 5">永恒钻石</a>
        <a href="#" v-else-if="level === 6">至尊星耀</a>
        <a href="#" v-else>最强王者</a>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello',
                isLogin: true,
                level: 7,
            }
        })
    </script>
</body>
</html>