<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <span>{{ message }}</span>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
            },
            // vue生命周期钩子函数（不在methods内）
            beforeCreate: function () {
                alert("beforeCreate");
                console.log("beforeCreate");
            },
            created: function () {
                alert("created");
                console.log("created");
            },
            beforeMount: function () {
                alert("beforeMount");
                console.log("beforeMount");
            },
            mounted: function () {
                alert("mounted");
                console.log("mounted");
            },
            beforeDestroy: function () {
                alert("beforeDestroy");
                console.log("beforeDestroy");
            },
            destroyed: function () {
                alert("destroyed");
                console.log("destroyed");
            },
        })
    </script>
</body>
</html>