<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="login">登录</button>
        <!-- v-on:click 简写 @click -->
        <a  href="javascript:;" @click="register">注册</a>
        <hr>
        <span>{{ counter }}</span>
        <button @click="add(counter)">点击+1</button>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                counter: 1,
            },
            methods: {
                login: function () {
                    alert("登录事件!");
                },
                register: function () {
                    alert("注册事件!");
                },
                add: function (counter) {
                    // this表示当前的vue对象，可以通过this获取data中的变量
                    this.counter = this.counter + 1;
                }
            }
        })
    </script>
</body>
</html>