<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="todoitem" v-model="newitem"><button @click="additem">添加</button>
        <hr>
        <ol>
            <li v-for="(todo, index) in todolist">
                {{ todo }}
                <a href="javascript:;" @click="delitem(index)">删除</a>
                <a href="javascript:;" @click="up(index)">上移</a>
                <a href="javascript:;" @click="down(index)">下移</a>
            </li>
        </ol>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                todolist: ['吃饭', '睡觉', '打豆豆'],
                newitem: '',
            },
            methods: {
                additem: function () {
                    if(this.newitem.length === 0){
                        alert("添加项不能为空！");
                    }else {
                        this.todolist.push(this.newitem)
                        this.newitem = '';
                    }
                },
                delitem: function (index) {
                    alert("将要删除 ["+ this.todolist[index]+"] !");
                    this.todolist.splice(index, 1);
                },
                up: function (index) {
                    // 获取当前元素
                    current = this.todolist[index];
                    // 删除当前元素
                    this.todolist.splice(index, 1);
                    // 插入当前元素到前一个索引位置
                    if((index - 1) >= 0) {
                        this.todolist.splice(index -1 , 0 , current);
                    }else {
                        this.todolist.splice(index , 0 , current);
                        alert("无法继续上移!");
                    }
                },
                down: function (index) {
                    current = this.todolist[index];
                    if((index + 1) == this.todolist.length) {
                        alert("无法继续下移!");
                    }else {
                        this.todolist.splice(index, 1);
                        this.todolist.splice(index + 1 , 0 , current);
                    }
                },
            }
        })
    </script>
</body>
</html>