<!DOCTYPE html>
<html lang="zh">
<head>
    {% block header %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <style></style>
    {% endblock header %}
</head>
<body>
    {% block top %}
        <h1>顶部</h1>
    {% endblock top %}

    {% block body %}
        <h1>主要部分</h1>
    {% endblock body %}

    {% block footer %}
        <h1>页脚</h1>
    {% endblock footer %}
</body>
</html>