<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
</head>
<body>
    <h3>Welcome,{{ username }}!</h3>
    {# jinja2没有多行注释 #}
    <table border="1">
        <thead>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>生日</th>
            <th>朋友</th>
            <th>朋友个数</th>
            <th>身高</th>
            <th>简介</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ username }}</td>
            <td>
                {% if age >= 18 %}
                    {{ age }}岁成年
                {% elif age < 18 %}
                    {{ age }}岁未成年
                {% endif %}
            </td>
            {# 这里显示报错是因为Pycharm默认的模板引擎是django自带的模板引擎，需要修改Pycharm的模板引擎 #}
            {# 修改方法：http://static.staryjie.com/static/images/20200914101807.png #}
            <td>{{ date(birthday, 'Y年 m月 d日') }}</td>
            <td>
                <ul>
                    {% for friend in friends %}
                        <li>{{ loop.index }} {{ friend }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>有{{ friends|length }}个朋友</td>
                <td>{{ default(height, 180) }}</td>
            <td>{{ desc|safe }}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>