<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户登录</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 导入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <!-- Vue的大胡子语法和Django的模板语法冲突，需要修改Vue的模板语法 -->
    {# <span>{{ message }}</span>#}
    <span>[[ message ]]</span> <br>
    <button @click="login">登录(GET)</button>
    <hr>
    <button @click="login2">登录(POST)</button>
    <hr>
    <span v-if="username">欢迎您，[[ username ]]!</span>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            message: 'Hello Vue',
            username: '',
        },
        methods: {
            login: function () {
                // 这里通过axios发送ajax的GET请求
                var url = "http://127.0.0.1:8000/rece/?username=staryjie&password=123456"
                axios.get(url).then((response) => {
                    this.username = response.data.data.username;
                    console.log(this.username);
                }).catch((error) => {
                    console.log(error);
                })
            },
            login2: function () {
                // 这里通过axios发送ajax的POST请求
                var url = "http://127.0.0.1:8000/rece/?username=staryjie&password=123456"
                axios.post(url, {username: 'tony', password: '123456'}).then((response) => {
                    this.username = response.data.data.username;
                    console.log(this.username);
                }).catch((error) => {
                    console.log(error);
                })
            },
        },
    })
</script>
</body>
</html>